
<div class="container" id="main-container">
  <mat-toolbar>
    <h5>Contact List <span>({{nbContacts}})</span></h5>
    <span class="example-spacer"></span>
    <div class="center" layout-align="center">
      <input (change)="searchContact()" [(ngModel)]="search" type="search" placeholder="Rechercher un contact" aria-label="Search" aria-describedby="search-addon" style="margin-right: 5px;"/>
    </div>
    <button (click)="openDialog('add')"  mat-raised-button color="primary"><mat-icon>library_add</mat-icon>New Contact</button>
  </mat-toolbar>     

  <div style="padding: 2vh">
    <div style="display: flex; margin-left: 10px;">
        <h2 style="padding-top:10px;">{{tri}}</h2>
        <button mat-icon-button (click)="toggleSort()">
        <mat-icon >swap_vert</mat-icon>
        </button>
    </div>
    <div class="center grid-container">
      <div>
        <div *ngFor="let c of filteredContacts">
          <mat-card style="margin-bottom:2px" (click)="selectContact(c)">
            <mat-card-content>
              <h1>{{c.name}} {{c.surname}}</h1>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div>
        <div *ngIf="selectedContact!=undefined" class="border" >
          <h1>{{selectedContact.name}} {{selectedContact.surname}}</h1>
          <hr>
          <p>Tel: {{selectedContact.tel}}</p>
          <hr>
          <p>Email : {{selectedContact.email}}</p>
          <hr>
          <p>Anniversaire : {{displayDate}}</p>
          <br>
          <div class="center">
            <button (click)="openDialog('edit')" mat-raised-button color="primary" style="margin-right: 2px;">Modifier</button>
            <button (click)="openDialog('warn')" mat-raised-button color="warn" style="margin-left: 2px;">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


<!--delte Contact Modal-->




<!-- Modal
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

